---
import Layout from "@layouts/Layout.astro";
import { allword } from "@content/allFile";
import WordWriterNew from "@components/WordWriterNew.tsx";
import allcharPinyin from "public/allcharPinyin.json";
import chengyuTranslate from "public/changyutranslate.json";
import xiehouyuTranslate from "public/xiehouyutranslate.json";
import WordsExplanations from "@components/WordsExplanations.astro";
import Audio from "@components/Audio.astro";
const { word } = Astro.params;

export function getStaticPaths() {
  return allword.map((item) => {
    return { params: { word: item } };
  });
}
---

<Layout
  title={`${word} in English Explanation ${word.length == 4 ? ' Chinese chengyu':' Chinese words'}`}
  desc={`${word} ${word.length == 4 ? 'Chengyu 成語 成语 chengyu four-character idioms':''} ${word.length > 4 ? 'Chinese idiomatic expressions Two-part sayings':''} explanations คำภาษาจีน means ${chengyuTranslate[word]?.en || xiehouyuTranslate[word]?.en}`}
  keywords={`${word.length == 4 ? 'Chengyu 成語 成语 chengyu four-character idioms' : word} 中国語 Traditional Chinese sayings Two-part sayings`}
>
  <main>
    <div class="flex items-center space-x-2"><span>{word}</span><Audio word={word} /></div>
    <div class="flex flex-wrap flex-row justify-center">
      {
        word.split("").map((item:string, index:number) =>  (
          /[\u4e00-\u9fa5]/.test(item) && <div data-word={item} class="flex flex-col items-center m-2">
            <div class="text-xl">{allcharPinyin[item]?.pinyin || ""}</div>
            <WordWriterNew client:only="react" word={item} index={index} />
          </div>
        ))
      }
    </div>
    <div>
      <h2 class="text-2xl py-4">Explanations</h2>
      <div class="shadow-md rounded-md overflow-hidden">
        <WordsExplanations type="en" desc={chengyuTranslate[word]?.en || xiehouyuTranslate[word]?.en}/>
        <WordsExplanations type="ja" desc={chengyuTranslate[word]?.ja || xiehouyuTranslate[word]?.ja}/>
        <WordsExplanations type="th" desc={chengyuTranslate[word]?.th || xiehouyuTranslate[word]?.th}/>
      </div>
    </div>
  </main>
</Layout>